<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lista de Usuarios</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
</head>
<body>
    <div class="container">
        <h2>Usuarios</h2>
        
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Correo</th>
                    <th>Rol</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                <tr>
                    <td>{{ usuario.id }}</td>
                    <td>{{ usuario.correo }}</td>
                    <td>{{ usuario.rol }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
       <a href="{{ url_for('admin.dashboard') }}">volver al Dashboard</a>

    </div>
</body>
</html>