{% extends 'base.html' %}
{% block content %}

<div class="container py-5">
    <h2 class="text-center mb-4">Bienvenido, {{ usuario.nombre }}</h2>

    <div class="row">
        {% for producto in productos %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="{{ url_for('static', filename='uploads/' ~ producto.foto) }}" class="card-img-top" alt="Producto">
                <div class="card-body">
                    <h5 class="card-title">{{ producto.nombre }}</h5>
                    <p class="card-text">{{ producto.descripcion }}</p>
                    <p class="fw-bold">${{ producto.precio }}</p>
                    <form method="POST" action="{{ url_for('usuario.agregar_carrito', producto_id=producto.id) }}">
    <input type="number" name="cantidad" min="1" max="{{ producto.stock }}" value="1" class="form-control mb-2" required>
    <button type="submit" class="btn btn-primary btn-sm">Agregar al carrito</button>
</form>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
 


{% if trabajos %}
<h3 class="mt-5">Mis trabajos:</h3>
<ul class="list-group">
    {% for t in trabajos %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        {{ t.descripcion }}
        <span class="badge bg-info">{{ t.estado }}</span>
    </li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}
